*{
margin: 0;
padding: 0;
font-size: 100%;
box-sizing: border-box;

}

/*menu*/

nav,ul{
list-style: none;
}

a{
text-decoration: none;
color: white;
cursor: pointer;
opacity: 0.9;
font-size: 20px;
}

a:hover{
opacity: 1;
}


header{
background-color:black ;
width: 100%;
position: absolute;
top: 0;
left: 0;
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 50px;
}

header nav{
display: flex;
}

header li a{
color: white;
}
           
header li{
margin: 0 15px;
}

header li:first-child{
margin-left:0; 
}

header li:last-child{
margin-right: 0;
}

@media(max-width: 700px){
header{
flex-direction: column;
}

}




body{
	
	font-family:sans-serif;
	background: url(img1.jpg);
	background-size: cover;
	background-color:darkcyan;
}

.formulário{
	position: absolute;
	top:60%;
	left:50%;
	transform:translate(-50%,-50%);
	width:400px;
	padding:40px;
	background: rgba(0,0,0,.8);
	box-sizing: border-box;
	box-shadow:0 15px 25px rgba(0,0,0,.5);
	border-radius:10px;
}

.formulário h2{
	margin:0 0 30px;
	padding:0;
	color:#fff;
	text-align: center;
}

.formulário .meio{
	position: relative;

}

.formulário .meio input{
	width:100%;
	padding:10px 0;
	font-size:16px;
	color:#fff;
	letter-spacing:1px;
	margin-bottom:30px;
	border:none;
	border-bottom:1px solid;
    outline:none;
    background: transparent;
}

.formulário .meio label{
	position: absolute;
	top:0;
	left:0;
	padding:10px 0;
	font-size:16px;
	color:#fff;
    pointer-events: none;
    transition: .5s;
}
.formulário .meio input:focus~label,
.formulário .meio input:valid~label
{
top:-18px;
left:0;
color:#03a9f4;
font-size:12px;
}


.formulário input[type="submit"]{
	background: transparent;
	border: none;
	outline: none;
	color:#fff;
	background:#03a9f4;
	padding:10px 20px;
	cursor: pointer;
	border-radius:10px;

}