*{
margin: 0;
padding: 0;
font-size: 100%;
box-sizing: border-box;
font-family: comic sans MS;
}

/*menu*/

nav,ul{
list-style: none;
}

a{
text-decoration: none;
color: white;
cursor: pointer;
opacity: 0.9;
font-size: 20px;
}

a:hover{
opacity: 1;
}


header{
background-color:black ;
width: 100%;
position: absolute;
top: 0;
left: 0;
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 50px;
}

header nav{
display: flex;
}

header li a{
color: white;
}
           
header li{
margin: 0 15px;
}

header li:first-child{
margin-left:0; 
}

header li:last-child{
margin-right: 0;
}

@media(max-width: 700px){
header{
flex-direction: column;
}

}


/*imagem inicial*/


.hero{
color:black;
text-align: center;
background-size: cover;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column
border:2px solid black;
}



.hero h1{	
	display: flex;
font-size: 3.2rem;
margin-bottom: 15px;
flex-direction: column;
}
.hero p{
	display: flex;
font-size: 2rem;
margin-bottom: 15px;
flex-direction: column;
}
/*
.hero .btn{
background: rgba(0,0,0,0.5);
border-radius: 4px;
color: white;
padding: 20px 50px;
text-transform: uppercase;
}

*/

/*barra de pesquisa*/

/*

#pes{

background:white;
width:700px;
height:60px;
border-radius:10px;
color:white;
text-align:center;
font-size:30px;
background:rgba(0,0,0,0.4);
}


form{
display:flex;
flex-direction:column;
justify-content:center;

}

 #enviar{
 display:flex;
 width:100px;
 height:50px;
 color:white;
 border:none; 
 justify-content:center;
 margin-left:300px;
 margin-top:20px;
 background:darkcyan;
 }

*/



@media(max-width: 700px){
h1{
font-size: 2.5rem;
}
h3{
font-size: 1.5rem;
}

}


.sobre{
display: flex;
color: blue;
flex-direction: column;
align-items: center;
padding: 100px 50px;
}

.sobre h3{
font-size: 2rem;
color: #191c03;
margin-bottom: 25px;
text-align: center;
}

.sobre p{
max-width: 800px;
margin-bottom: 35px;
color: #191c03;
text-align: center;
}

li .obs{
color: white;
font-size: 40px;
display: flex;
justify-content: center;
align-items: baseline;
align-content: stretch;
padding:  20px 20px;
margin-top:  70px;	
}

.sobre hr{
width: 200px;
height: 2px;
background-color: darkcyan;
margin-bottom: 70px;
border: none;
}

.sobre .img{
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.sobre .img li {
height: 450px;
padding: 5px;
border-radius: 4px;
background: blue;
background-clip: content-box;
background-size: cover;
background-position: center;
color: white;
text-align: center;
font-size: 20px;
opacity: 0.9;
}

.sobre .img li.pequena{
flex-basis: 40%;
background: darkcyan
}

.sobre .img li.grande{
flex-basis: 60%;
}


@media(max-width: 700px){
.sobre .img li.pequena,.sobre .img li.grande{
flex-basis: 100%;
}

}


.fim{
	display: flex;
	width: 100%;
	height: 500px;
}



