*{
margin: 0;
padding: 0;
font-size: 100%;
box-sizing: border-box;
}

nav,ul{
list-style: none;
transition: 3s;

}

a{
text-decoration: none;
color: #FFF;
cursor: pointer;
opacity: 0.9;
font-size: 20px;

}

a:hover{
opacity: 1;
}


header{
background-color:rgba(0, 0, 0, .8) ;
width: 100%;
position: absolute;
top: 0;
left: 0;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0px 0px;
height: 65px;
}

header nav{
display: flex;
}

header li a{
color: white;
}
           
header li{
margin: 0px;
}

header li:first-child{
margin-left:0; 
}

header li:last-child{
margin-right: 0;
}

@media(max-width: 700px){
header{
flex-direction: column;
}

}


@media(max-width: 700px){
h1{
font-size: 2.5rem;
}
h3 h4{
font-size: 1.5rem;
}

}

.dados{

display: flex;
width: 100%;
height: 350px;
align-items: center;
flex-direction: column;
margin-top: 65px


}

.mapa{

display: flex;
width: 100%;
height: 600px;

align-items: center;
flex-direction: column;
margin-top: 100px;

}

.mapa2{
display: flex;
width: 100%;
height: 700px;
align-items: center;
flex-direction: column;
margin-top: 20px;
}

.duvidas{
display: flex;
width: 100%;
height: 400px;
border: 6px solid red;
align-items: center;
flex-direction: column;
margin-top: 100px
}



.comentar1{
display: flex;
width: 100%;
height: 400px;
border: 6px solid red;
align-items: center;
flex-direction: column;
margin-top: 100px
}

.galeria{
display: flex;
width: 100%;
height: 200px;
border: 6px solid red;
align-items: center;
flex-direction: column;
margin-top: 100px
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 40px 20px 40px;
  text-decoration: none;
  height: 65px;
}

li a:hover{
  background-color: #F28A02;
    text-decoration: none;
}

.table{
display:flex;
border-collapse:collapse;
font-family:arial,sans-serif;
margin: 0 auto;
justify-content:flex-start
}
td{
text-align:center;
padding:20px;
font-size:22px;
color:black;
padding: 10px;
}
tr{
text-align:center;
font-size:30px;
margin:20px;
color:black;
}
.titulo{
font-size: 40px;
text-align: center;
padding: 10px;



}

.tabe{
width: 900px;
height: 400px;
display: flex;
text-align: center;
flex-direction: column;
margin: 10px;
padding: 10px;

      
        -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
        -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
        box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
    }


#buttom{
  display: block;
  margin: 0 auto;
  padding: 10px;
  margin-top: 100px;  
  background: green;
}












