

*{
margin: 0;
padding: 0;
/*font-size: 100%;*/
box-sizing: border-box;
font-family: 'Open Sans',arial;
  -webkit-font-smoothing: antialiased;
  }
 /* .text{
font-size: 20px;
margin-top: 200px;
margin-right: 10px;
margin-left: 70px;
color:#fff;
position: absolute;
font-family: sans-serif;
text-shadow:6px 6px 6px #000;
  }*/

nav,ul{
list-style: none;
/*transition: 3s;*/
}

a{
text-decoration: none;
color: white;
cursor: pointer;
opacity: 0.9;
font-size: 20px;
}

a:hover{
opacity: 1;
}

header{
/*transition: 4s;*/
background-color:rgba(0, 0, 0, .8);
width: 100%;
position: absolute;
top: 0;
left: 0;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0px 0px;
height: 65px;
}

header nav{
display: flex;
}

header li a{
color: white;
}

header li{
margin: 0px;
}

header li:first-child{
margin-left:0;
}

header li:last-child{
margin-right: 0;
}

@media(max-width: 700px){
header{
flex-direction: column;
}

}




.imgP{
/*background-image: url("https://images.unsplash.com/photo-1485322551133-3a4c27a9d925?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
*/color: #fff;
text-align: center;
background-size: cover;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column
}


.imgP h1{
font-size: 45px;
margin-bottom: 15px;
color: #fff;
text-shadow: 2px 2px 8px #000;

}
.imgP h3{
font-size: 25px;
margin-bottom: 35px;
}




/*barra de pesquisa*/

#pes{

background:white;
width:700px;
height:60px;
border-radius:10px;
color:white;
text-align:center;
font-size:30px;
background:rgba(0,0,0,0.8);
}


form{
display:flex;
flex-direction:column;
justify-content:center;

}


.butao{
  background:rgba(0,0,0,0.7);
  /*border-radius: 4px;*/
  border: none;
  text-align: center;
  font-size: 18px;
  padding: 3%;
  cursor: pointer;
  margin: 5px;
  /*transition: 3s;*/
 color:white;
 border:none;
 justify-content:center;
 border-radius: 4px;
}

.butao:hover{
 background:#F28A02;
  /*border-radius: 4px;*/
  border: none;
  text-align: center;
  font-size: 18px;
  padding: 3%;
  cursor: pointer;
  margin: 5px;
  /*transition: 3s;*/
 color:white;
 border:none;
 justify-content:center;
 border-radius: 6px;

}
select::placeholder {
  color: blue;
}


select{
  background: rgba(0,0,0,0.7);
  border-radius: 4px;
  border: none;
  text-align: center;
  width: 500px;
  height: 40px;
  color:white;
  text-transform: uppercase;
  padding-left : 50px;


}


li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 40px 20px 40px;
/*  border-radius: 10px;
*/  text-decoration: none;
  height: 65px;
}

li a:hover{
  background-color: #F28A02;
    text-decoration: none;
}

.foot{
display: flex;
width: 100%;
height: 60px;
background: black;
justify-content: center;
}

#desenvolvedores{
color:white;
font-size: 10px;
margin-top: 10px;


}

.vd{
  position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
    overflow: hidden;
}

.vd_c{
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

form {
  position: relative;
}



form::before {
  content: "";
  background-image: url("../icons8-search.svg");
  height: 24px;
  width: 24px;
  color: white;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 8px;
  margin-left: 10px;
  background-repeat: no-repeat;
}


