*{
margin: 0;
padding: 0;
font-size: 100%;
box-sizing: border-box;
font-family: sans-serif;
}

nav,ul{
list-style: none;
transition: 3s;
}

a{
text-decoration: none;
color: white;
cursor: pointer;
opacity: 0.9;
font-size: 20px;
}

a:hover{
opacity: 1;
}


header{
transition: 4s;
background-color:rgba(0, 0, 0, .8);
width: 100%;
position: absolute;
top: 0;
left: 0;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 50px;
}

header nav{
display: flex;
}

header li a{
color: white;
}
           
header li{
margin: 0 15px;
}

header li:first-child{
margin-left:0; 
}

header li:last-child{
margin-right: 0;
}

@media(max-width: 700px){
header{
flex-direction: column;
}

}




.imgP{
background-image: url("https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
color: #fff;
text-align: center;
background-size: cover;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column
}


.imgP h1{
font-size: 45px;
margin-bottom: 15px;
color: white;
/*text-shadow: 2px 2px 8px #F28A02;*/
}
.imgP h3{
font-size: 25px;
margin-bottom: 35px;
}




/*barra de pesquisa*/

#pes{

background:white;
width:700px;
height:60px;
border-radius:10px;
color:white;
text-align:center;
font-size:30px;
background:rgba(0,0,0,0.8);
}


form{
display:flex;
flex-direction:column;
justify-content:center;

}


.butao{
  background:#F28A02;
  border-radius: 4px;
  border: none;
  text-align: center;
  font-size: 18px;
  padding: 17px;
  cursor: pointer;
  margin: 5px;
  transition: 3s;
 color:white;
 border:none; 
 justify-content:center;
}


select{
  background: #F7F7F7;
  border-radius: 4px;
  border: none;
  text-align: center;
  width: 500px;
  height: 40px;

}
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  text-decoration: none;
}

li a:hover{
  background-color: #F28A02;
    text-decoration: underline;
}

