*{
margin: 0;
padding: 0;
font-size: 100%;
box-sizing: border-box;
font-family: comic sans MS;
}

nav,ul{
list-style: none;
}

a{
text-decoration: none;
color: white;
cursor: pointer;
opacity: 0.9;
font-size: 20px;
}

a:hover{
opacity: 1;
}


header{
background-color:black ;
width: 100%;
position: absolute;
top: 0;
left: 0;
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 50px;
}

header nav{
display: flex;
}

header li a{
color: white;
}
           
header li{
margin: 0 15px;
}

header li:first-child{
margin-left:0; 
}

header li:last-child{
margin-right: 0;
}

@media(max-width: 700px){
header{
flex-direction: column;
}

}





.hero{
background-image: url("../img/010.jpg");
color: #fff;
text-align: center;
background-size: cover;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column
}

.hero h1{
font-size: 3.2rem;
margin-bottom: 15px;
}
.hero h3{
font-size: 2rem;
margin-bottom: 15px;
}

.hero .btn{
background: rgba(0,0,0,0.5);
border-radius: 4px;
color: white;
padding: 20px 50px;
text-transform: uppercase;
}




#pes{

background:white;
width:500px;
height:60px;
border-radius:10px;
color:white;
text-align:center;
font-size:30px;
background:rgba(0,0,0,0.4);
}


form{
display:flex;
flex-direction:column;
justify-content:center;

}

 #enviar{
 display:flex;
 width:100px;
 height:50px;
 color:white;
 justify-content:center;
 margin-left:200px;
 margin-top:10px;
 background:darkcyan;
 }





@media(max-width: 700px){
h1{
font-size: 2.5rem;
}
h3{
font-size: 1.5rem;
}

}



.sobre{
display: flex;
color: blue;
flex-direction: column;
align-items: center;
padding: 100px 50px;
}

.sobre h3{
font-size: 2rem;
color: #191c03;
margin-bottom: 25px;
text-align: center;
}

.sobre p{
max-width: 800px;
margin-bottom: 35px;
color: #191c03;
text-align: center;
}

li .obs{
color: white;
font-size: 40px;
display: flex;
justify-content: center;
align-items: baseline;
align-content: stretch;
padding:  20px 20px;
margin-top:  70px;	
}

.sobre hr{
width: 200px;
height: 2px;
background-color: #191c03;
margin-bottom: 70px;
border: none;
}

.sobre .grid{
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.sobre .grid li {
height: 450px;
padding: 30px;
border-radius: 4px;
background: blue;
background-clip: content-box;
background-size: cover;
background-position: center;
color: white;
text-align: center;
font-size: 20px;
opacity: 0.9;
}

.sobre .grid li.small{
flex-basis: 40%;
background: darkcyan
}

.sobre .grid li.large{
flex-basis: 60%;
}


@media(max-width: 700px){
.sobre .grid li.small,.sobre .grid li.large{
flex-basis: 100%;
}

}








.caracteristicas{
background: #191c03;
display: flex;
color: blue;
flex-direction: column;
align-items: center;
padding: 100px 50px;
}

.caracteristicas h3{
font-size: 2rem;
color: white;
margin-bottom: 25px;
text-align: center;
}

.caracteristicas p{
max-width: 800px;
margin-bottom: 35px;
color: white;
text-align: center;
}

.carcteristicas hr
{
width: 200px;
height: 2px;
background-color: white;
margin-bottom: 70px;
border: none;
}


.caracteristicas .grid{
width: 100%;
display: flex;
}

.caracteristicas .grid li{
padding: 0 30px;
text-align: center;

}

.caracteristicas .grid li i{
color: red;
font-size: 50px;
margin-bottom: 30px;
}

.caracteristicas .grid li h4{
font-size: 1.5rem;
color: red;
margin-bottom: 30px;
}

.caracteristicas .grid li p{
color: green;
}

@media(max-width: 850px){
.conheca-o-hotel .grid{
flex-direction: column;
}

}





.mapa{
background-image: url("../img/008.jpg");
color: #fff;
text-align: center;
background-size: cover;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column
}

.mapa h1{
font-size: 3.2rem;
margin-bottom: 15px;
}

.mapa h3{
font-size: 2rem;
margin-bottom: 15px;
}

.mapa .btn2{
background: rgba(0,0,0,0.5);
border-radius: 4px;
color: white;
padding: 20px 50px;
text-transform: uppercase;
}



@media(max-width: 700px){
h1{
font-size: 2.5rem;
}
h3{
font-size: 1.5rem;
}

}







.cadastro{
background:;
margin-top: 40px;
color: black;
text-align: center;
height: 900px;
background-size: cover;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: flex-end;
flex-wrap: wrap;
flex-direction: row-reverse;
align-content: stretch;
}

.cadastro h1{
font-size: 3.2rem;
flex-direction: column;
margin-bottom: 50px;
}

.cadastro .principal{
font-size: 2rem;
margin-bottom: 15px;
}

@media(max-width: 700px){
h1{
font-size: 2.5rem;
}
.principal{
align-content: center;
}

}





.principal{
position: absolute;
transform:translate(-50%,-50%);
width:400px;
padding:40px;
background: rgba(0,0,0,0.6);
box-sizing: border-box;
box-shadow:0 15px 25px rgba(0,0,0,.5);
border-radius:10px;
}

.principal h2{
margin:0 0 30px;
padding:0;
color:#fff;
text-align: center;
}

.principal .meio{
position: relative;
}

.principal .meio input{
width:100%;
padding:10px 0;
font-size:16px;
color:#fff;
letter-spacing:1px;
margin-bottom:30px;
border:none;
border-bottom:1px solid;
outline:none;
background: transparent;
}

.principal .meio label{
position: absolute;
top:0;
left:0;
padding:10px 0;
font-size:16px;
color:#fff;
pointer-events: none;
transition: .5s;
}

.principal .meio input:focus~label,
.principal .meio input:valid~label
{
top:-18px;
left:0;
color:green;
font-size:16px;
}


.principal input[type="submit"]{
background: transparent;
border: none;
outline: none;
color:#fff;
background:green;
padding:10px 20px;
cursor: pointer;
border-radius:10px;
}




.escola{
background-image: url("../img/010.jpg");
color: #fff;
text-align: center;
margin-top: 60px;	
background-size: cover;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column
}

.escola h1{
font-size: 3.2rem;
margin-bottom: 15px;
}

.escola h3{
font-size: 2rem;
margin-bottom: 15px;
}

.escola .btn3{
background: rgba(0,0,0,0.5);
border-radius: 4px;
color: white;
padding: 20px 50px;
text-transform: uppercase;
}



@media(max-width: 700px){
h1{
font-size: 2.5rem;
}
h3{
font-size: 1.5rem;
}

}