*{
margin: 0;
padding: 0;
font-size: 100%;
box-sizing: border-box;

}

/*menu*/

nav,ul{
list-style: none;
}

a{
text-decoration: none;
color: white;
cursor: pointer;
opacity: 0.9;
font-size: 20px;
}

a:hover{
opacity: 1;
}


header{
background-color:black ;
width: 100%;
position: absolute;
top: 0;
left: 0;
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 50px;
}

header nav{
display: flex;
}

header li a{
color: white;
}
           
header li{
margin: 0 15px;
}

header li:first-child{
margin-left:0; 
}

header li:last-child{
margin-right: 0;
}

@media(max-width: 700px){
header{
flex-direction: column;
}

}
